*{
    margin: 0;
    padding: 0;
    font-family: 'inter';
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color:  #e7e7e7;
}

a:hover{
    color:   #a8a8a8;
    transition: all ease 0.2s;
}

ul{
    margin-top: 200px;
    margin-left: 40vw;
    size: 20px;
}

ul li a:hover{
    color:   #bdbdbd;
    transition: all ease 0.2s;
}

nav{
    width: 100%;
    height: 150px;
    position: fixed; 
    font-size: 12vw;
    text-decoration: none;
    color:  #e7e7e7;

}

.mail{
    text-decoration: none;
    padding-top: 5vw;
    padding-left: 10px;
    margin:auto;
    
}

  .box{
    text-decoration: none;
    margin-top:150px;
    border: 1px solid grey;
    width: 100px;
    padding: 2px 2px;
    
  }

body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(fff);
}

.container{
    align-items: center;
    text-align: center;
    max-width: 100%;
    color:white;
}
.img{
    width: relative;
    height: 100%;   
}
.img img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.text {
    position: absolute;
    top: 0px;

}
